prw_network/quenched_results
prw_network/raw_json_files/RWDIS
prw_network/raw_json_files/RWDIS_mod/configs/
prw_network/*.png
prw_network/*.mp4
prw_network/.ipynb_checkpoints
prw_network/OptDistancies.ipynb
prw_network/LlegirJson.ipynb
prw_network/contactsFromTimeEvo_old.py
prw_network/proves_fallides.py
prw_network/prova_npy_files.py
prw_network/script.py

prw_network_rework/figures_for_video

det_sols_from_polynomial/Untitled.ipynb
det_sols_from_polynomial/sols.dat

clean_version/time_evos_julia

evo_to_stationary/falpha_LX1024LY1024_Q3_for_tss
evo_to_stationary_frozen/png_for_gif
evo_to_stationary_frozen/gifs

convergencia/
deterministic_evolution/
deterministic_f0_study/
deterministic_solutions/
frozen_positions/

frozen_positions_new/positions_and_contacts

gillespie_sim_ci/time_evo_rea*.csv
gillespie_sim_ci/sim_results_evos.tar.gz
gillespie_sim_ci/time_evo_rea*.png
gillespie_sim_ci/sim_results_evos*
gillespie_sim_ci/sim_results_evos*.tar.gz
gillespie_sim_ci/winprobs*.dat
gillespie_sim_ci/sols*.dat

gillespie_sim_ci_Reina/time_evo_rea*.csv
gillespie_sim_ci_Reina/sim_results_evos.tar.gz
gillespie_sim_ci_Reina/time_evo_rea*.png
gillespie_sim_ci_Reina/evos_qs_*/*

limit_lambda_1/
power_spectrum/
power_spectrum_PRL/
Qeq0_line/

#sim_phase_space/
sim_phase_space/qualities
sim_phase_space/asymmetric_pi/plots/
sim_phase_space/asymmetric_pi/quenched_results/
sim_phase_space/symmetric/results_old/*
sim_phase_space/symmetric/plots_old/*


sim_phase_space_frozen/
sim_some_params/

sim_some_params_frozen/__pycache__

time_evos_dif_ic/
version_1_q0/
zz_mostra_igraph/
